@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Default Light Mode */
body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Mode */
body.dark-mode {
  background-color: #1a202c; /* Dark gray */
  color: #f7fafc; /* Off-white */
}

/* Light mode */
.light-mode {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode */
.dark-mode {
  background-color: #151a23; /* Dark gray */
  color: #f7fafc; /* Off-white */
}